<div class="container pt70">

	<div class="row text-center" ng-if="chartConfig.series[0].data.length < 1 || (chartConfig.series.length < 1 && isSelection)">
		<h1>Nothing to show</h1>
		<p>There is no operation yet, create some operation first</p>

		<div class="row pad15" ng-if="isSelection">
			<a class="btn btn-default" ng-click="selectGraph()">Back</a>
		</div>
	</div>


	<div class="row" ng-if="!isSelection">
		<h1>Select</h1>
		<div  class="list-group">
			<a class="list-group-item"  href="" ng-click="selectGraph('month')">By month</a>
			<a class="list-group-item"  href="" ng-click="selectGraph('balance')">Balance evolution</a>

		</div >
	</div>

 	<div class="row pad15" ng-if="isSelection && chartConfig.series[0].data.length > 0">

		<div class="row">
			<!-- <highchart id="chart1" config="chartConfig"></highchart> -->

			<highchart id="chart1" config="chartConfig" class="span10"></highchart>
		</div>

		<div class="row pad15">
			<a class="btn btn-default" ng-click="selectGraph()">Back</a>
		</div>

	</div>
</div>
