<div ng-controller="NavbarController">
    <nav class="navbar navbar-default" role="navigation" >
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- <button class="navbar-brand hamburger-button">Show navigation</button> -->
                <button toggle-sidebar-menu class="hamburger-button">Show navigation</button>
                <a toggle-sidebar-menu class="navbar-brand" href="" ui-sref="account">MyMoney</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                    <li ng-show="currentUserSignedIn">
                        <button show-sidebar-menu class="btn btn-default navbar-btn">Menu (Temporaire)</button>
                    </li>

<!--                     <li ng-show="currentUserSignedIn">
                        <button class="btn btn-default navbar-btn">Menu (Temporaire)</button>
                    </li> -->


                    <li ng-controller="offlineController">
                        <a>
                            <b ng-if="!up">HORS LIGNE</b>
                            <b ng-if="up">En LIGNE (Debug)</b>
                        </a>
                    </li>
                     <li ng-show="currentUserSignedIn" class="navbar-brand pull-right ">
                        logged as :{{utlisateurCourant}}</a>
                    </li>
                    <!-- <li ng-show="currentUserSignedIn"><a class="pointer" ng-click="logout()">Logout</a></li>
                    <li ng-show="currentUserSignedIn"><a ui-sref="operation">Operations</a></li>
                    <li ng-show="currentUserSignedIn"><a ui-sref="optPeriod">Operations périodiques</a></li>
                     <li ng-show="currentUserSignedIn"><a ui-sref="accounts">Accounts</a></li> -->
                </ul>
            </div>
        </div>
    </nav>


<!--         <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav" ng-hide="currentUserSignedIn">
                <li><a ui-sref="login">login</a></li>
                <li><a ui-sref="signup">Signup</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="currentUserSignedIn">
                <li><a style="cursor: hand;cursor: pointer;" ng-click="logout()">Logout</a></li>
                <li><a class="" ui-sref="operation">Operations</a></li>
                <li><a class="" ui-sref="optPeriod">Operations périodiques</a></li>
                <li><a class="" ui-sref="accounts">Accounts</a></li>
                <li><a class="" ui-sref="budget">Budget</a></li>
            </ul>


            <div  class="nav navbar-nav navbar-right" >
                <button class="navbar-btn btn btn-warning btn-xs" ng-click="initData()">Init</button >
            </div >
        </div> -->

    <div id="sidebar-wrapper-left" class="menuSidebar">
        <form name="addOperationForm">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Menu
                </li>
        
                <!-- TODO: A styliser -->

                <li>
                    <a hide-sidebar-menu ui-sref="accounts">Accounts</a>
                </li>

                <li>
                    <a hide-sidebar-menu ui-sref="budget">Budget</a>
                </li>

                <li>
                    <button hide-sidebar-menu ng-click="logout()" class="btn btn-danger">Logout</button>
                </li>

<!--                 <li>
                    <button hide-sidebar-menu class="btn btn-default">Close</button>
                </li> -->
            </ul>
        </form>

    </div>
</div>
