
<div ng-show="currentUrl !== '/login' && user" ng-controller="NavbarController" class="navbarApp">

    <!-- <nav ng-show="login" class="navbar navbar-default" role="navigation" > -->
    <nav class="navbar navbar-default" role="navigation" >
        <!-- <nav ng-show="user" class="navbar navbar-default" role="navigation" > -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button toggle-sidebar-menu class="navbar-brand hamburger-button">Show navigation</button>
                <a class="navbar-brand" href="">
                    MyMoney
                    <span ng-show="account !== undefined" class="hidden-xs">
                        – {{ account.name }}
                    </span>
                </a>
            </div>

            <div class="collapse navbar-collapse">
                <div>
                    <p ng-if="$root.state" class="navbar-text navbar-right">{{$root.state}}</p>
                </div>
            </div>
        </div>
    </nav>

    <div id="sidebar-wrapper-left" class="menuSidebar">
        <form name="addOperationForm">
            <ul class="sidebar-nav">
                <li hide-sidebar-menu ui-sref="settings" class="sidebar-left-element">
                    <span class="glyphicon glyphicon-user pr10" aria-hidden="true"></span>
                    {{user.username}}
                </li>

                <li hide-sidebar-menu ng-click="logout()" class="sidebar-left-element">
                    <span class="glyphicon glyphicon-off pr10" aria-hidden="true"></span>
                    Logout
                </li>

                <li>
                    <hr>
                </li>

                <li hide-sidebar-menu ui-sref="budget" class="sidebar-left-element">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    Budget
                </li>

                <li hide-sidebar-menu ng-if="account !== undefined" ui-sref="optPeriod({accountId : account._id})" class="sidebar-left-element">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    Periodics operations
                </li>

                <li hide-sidebar-menu ui-sref="accounts" class="sidebar-left-element">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    Accounts
                </li>

                <li ng-show="accounts.length > 0">
                    <hr>
                </li>

                <li ng-show="accounts.length > 0" class="sidebar-left-element-title">Accounts list</li>

                <li ng-show="accounts.length > 0" hide-sidebar-menu ng-repeat="acc in accounts" class="sidebar-left-element">
                    <div class="row">
                        <div class="col-md-10" ui-sref="operation({accountId : acc._id})">
                            <span ng-if="account._id!==acc._id">{{ acc.name }}</span>
                            <b ng-if="account._id===acc._id">{{ acc.name }}</b>
                        </div>
                        <div class="col-md-2" ng-if="account._id===acc._id">
                            <span ui-sref="accountSettings({accountId : account._id})" class="glyphicon glyphicon-cog pull-right" aria-hidden="true"></span>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</div>