
<div ng-show="currentUrl !== '/login'" ng-controller="NavbarController" class="navbarApp">

    <!-- <nav ng-show="login" class="navbar navbar-default" role="navigation" > -->
    <nav class="navbar navbar-default" role="navigation" >
    <!-- <nav ng-show="user" class="navbar navbar-default" role="navigation" > -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button toggle-sidebar-menu class="navbar-brand hamburger-button">Show navigation</button>
                <a toggle-sidebar-menu class="navbar-brand" href="">MyMoney</a>
            </div>

            <div class="collapse navbar-collapse">



                <ul class="nav navbar-nav pull-right">
                    <li>
                        <select ng-model="initSelector" name="" id="">
                            <option value="dataset_etienne.json">dataset_etienne.json</option>
                            <option value="dataset_etienne_budget.json">dataset_etienne_budget.json</option>
                            <option value="dataset_jordan.json">dataset_jordan.json</option>
                            <option value="dataset_youssef.json">dataset_youssef.json</option>
                            <!-- <option value="dataset_etienne.json">dataset_etienne.json</option> -->
                            <!-- <option value="dataset_etienne.json">dataset_etienne.json</option> -->
                        </select>
                        <button class="navbar-btn btn btn-warning btn-xs" ng-click="initData()">Init</button >
                    </li>
                </ul>

                <!-- <ul class="nav navbar-nav pull-right">
                    <li class="dropdown ">
                      <a class="dropdown-toggle navbar-brand" style ="cursor: pointer;"data-toggle="dropdown">My Account <b class="caret"></b></a>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#" ui-sref="settings">Settings   <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                        <li class="divider"></li>
                        <li><a href="/#/login" ng-click="logout()">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                      </ul>
                   </li>
                </ul> -->

                <div ng-controller="offlineController">
                    <p ng-if="$root.offline" class="navbar-text navbar-right">HORS LIGNE</p>
                </div>

                
            </div>
            
        </div>
    </nav>

<!--         <div class="collapse navbar-collapse" >
            <ul class="nav navbar-nav" ng-hide="currentUserSignedIn">
                <li><a ui-sref="login">login</a></li>
                <li><a ui-sref="signup">Signup</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="currentUserSignedIn">
                <li><a style="cursor: hand;cursor: pointer;" ng-click="logout()">Logout</a></li>
                <li><a class="" ui-sref="operation">Operations</a></li>
                <li><a class="" ui-sref="optPeriod">Operations périodiques</a></li>
                <li><a class="" ui-sref="accounts">Accounts</a></li>
                <li><a class="" ui-sref="budget">Budget</a></li>
            </ul>


            <div  class="nav navbar-nav navbar-right" >
                <button class="navbar-btn btn btn-warning btn-xs" ng-click="initData()">Init</button >
            </div >
        </div> -->

    <div id="sidebar-wrapper-left" class="menuSidebar">
        <form name="addOperationForm">
            <ul class="sidebar-nav">
                <!-- <li class="sidebar-brand">
                    Menu
                </li> -->


                <li hide-sidebar-menu ui-sref="settings" class="sidebar-left-element">
                    <span class="glyphicon glyphicon-user pr10" aria-hidden="true"></span>
                    User account
                </li>

                <li hide-sidebar-menu ng-click="logout()" class="sidebar-left-element">
                    <span class="glyphicon glyphicon-off pr10" aria-hidden="true"></span>
                    Logout
                </li>

                <li>
                    <hr>
                </li>

                <li hide-sidebar-menu ui-sref="budget" class="sidebar-left-element">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    Budget
                </li>

                <li hide-sidebar-menu ui-sref="accounts" class="sidebar-left-element">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    Accounts
                </li>

                <li ng-show="accounts.length > 0">
                    <hr>
                </li>

                <li ng-show="accounts.length > 0" class="sidebar-left-element-title">Accounts list</li>

                <li ng-show="accounts.length > 0" hide-sidebar-menu ui-sref="operation({accountId : acc._id})" ng-repeat="acc in accounts" class="sidebar-left-element">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    {{ acc.name }}
                </li>
    
            </ul>
        </form>
    </div>
</div>
