<md-content >
<div class="container pt70">


 	<div class="row pad15">
		

		<p class="col-centered text-center">
		  <span ng-class="{activeYear: year.isActive}" ng-click="changeYear(year.id)" value="{{year.id}}" class="budget-btn pointer" ng-repeat="year in dataNav" >{{year.id}}</span> 
		</p>


		<p class="col-centered text-center">
		  <span ng-repeat="month in dataNav[dateSelector.currentYear]">
		    <a ng-class="{activeYear: month.isActive}" class="budget-btn pointer" ng-click="changeMonth(month.id)">{{month.name}}</a>
		  </span>
		</p>


		<div class="row">
			<div class="col-md-7">
				<highchart id="chart1" config="chartConfig"></highchart>
			</div>
			<div class="col-md-5">
				<md-content ng-if="categorySelector.currentCat !== undefined">
				<legend>{{categorySelector.currentCat}} {{categorySelector.total}} €</legend>
				<div>
					Current budget for this month :
				</div>
				<div ng-if="!isEdit">
					<p>{{currentBudget.value}} €</p>
					<button class="btn btn-default ml10 mb10" ng-click="showEdit()">Edit</button>
				</div>
				<div ng-if="isEdit">
					<input class="form-control wid100 ftl" type="number" ng-model="currentBudget.value"> 
					<button class="btn btn-default ml10 mb10" ng-click="validBudget(currentBudget)">Valid</button>
				</div>
				

				<p>Operation for this category : </p>
				<div ng-repeat="op in csOpt" class="operationLine backWhite">
					<div ng-include="'/app/components/budget/operationLine.html'"></div>
				</div>

				</md-content>
			</div>
		</div>

		<div class="row pad15">
			<a class="btn btn-default" ui-sref="budget">Back</a>
		</div>

	</div>
</div>
</md-content >