<!-- periodeView.html -->

<div class="container pt70 pb50">
	
	<div ng-show="periods.length <= 0">
		There isn't any periodic operations. 
		<a class="btn btn-default btn-xs" ui-sref="operation({accountId : accountId})">Back</a>
	</div>

	<h2 ng-show="periods.length > 0">
		Periodic operation
		<a class="btn btn-default btn-xs" ui-sref="operation({accountId : accountId})">Back</a>
	</h2>

	<div ng-repeat="period in periods" class="periodicOperationLine backWhite pad15 row show-grid">
		<div class="col-md-4 col-xs-12">
			<span class="fs12 fw600">Begin to End: </span>
			{{period.dateBegin | date2:'dd/MM/yyyy'}} to 
			{{period.dateEnd | date2:'dd/MM/yyyy'}}
		</div>
		<div class="col-md-4 col-xs-12">
			{{period.nbRepeat | repeat}} times - 
			Each {{period.step}}
			{{period.intervalType | period}}
		</div>
		<div class="col-md-2 col-xs-12">
			<span class="fs12 fw600">Value: </span>
			{{period.operation.value | currency:'€':0:true}}
		</div>
		<div class="col-md-2 col-xs-12 algright">
			<a type="button" ng-click="remove(period)" class="btn btn-danger btn-xs" role="button">
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</a>
			<a type="button" ng-click="makeProjection(period)" class="btn btn-info btn-xs" role="button">Projection</a>
		</div>
	</div>

	<div ng-repeat="operation in projection" ng-show="isProjection" class="periodicOperationLine pad15 row show-grid backWhite">
		<div class="col-md-3 col-xs-12"><span class="fs12 fw600">Date: </span>{{operation.dateOperation | date2:'dd/MM/yyyy'}}</div>
		<div class="col-md-3 col-xs-12"><span class="fs12 fw600">Value: </span>{{operation.value | currency:'€':0:true}}</div>
		<div class="col-md-3 col-xs-12"><span class="fs12 fw600">Third party: </span>{{operation.thirdParty }}</div>
		<div class="col-md-3 col-xs-12"><span class="fs12 fw600">Type: </span>{{ operation.type }}</div>
	</div>

	
	<div ng-controller="OperationController" ng-include src="'/app/components/operation/operationAddSidebarRightTemplate.html'"></div>
</div>