<div class="container pt70">
    <h1>Edit Profile</h1>
    <div class="row row-centered pad15">
      
      <!-- edit form column -->
      <div class="col-md col-centered personal-info">
        
        <form class="form-horizontal" role="form" ng-submit='EditController()'>
          <div class="form-group">
            <label class="col-md-2 control-label">Username:</label>
            <div class="col-md-10">
              <input class="form-control" type="text" ng-model='info.username' >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">First name:</label>
            <div class="col-md-10">
              <input class="form-control" type="text" ng-model="info.firstName" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Last name:</label>
            <div class="col-md-10">
              <input class="form-control" type="text" ng-model="info.lastName" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">Email:</label>
            <div class="col-md-10">
              <input class="form-control" type="text" ng-model="info.email" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-10">
              <input type="submit" class="btn btn-primary" value="Save Changes">
              <span></span>
              <input type="button" class="btn btn-default" ui-sref="accounts"value="Cancel">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>
