<div class="wid100p firstLineOperation">
    <div class="wid70p ftl">
        <span title="The operation date is after today" ng-if="op.dateOperationIsAfterToday" class="label label-warning pointer">!</span>
        <span ng-hide="op.editable">{{ op.dateOperation | date:'dd-MM-yyyy' }}</span>
        <span title="The levy date is after today" ng-if="op.datePrelevementIsAfterToday && op.datePrelevement !== op.dateOperation" class="label label-warning pointer">!</span>
        <span ng-if="op.datePrelevement !== op.dateOperation" class="datePrelevement">({{ op.datePrelevement | date:'dd-MM-yyyy' }})</span>
    </div>

    <div class="wid30p ftl algright">
        <span ng-if="op.value <= 0" class="valueSpan colorRed ftl wid100p">
            {{ op.value }}
        </span>
        <span ng-if="op.value > 0" class="valueSpan colorGreen ftl wid100p">
            +{{ op.value }}
        </span>
    </div>
</div>
