<div class="blocOperation">    
    <div class="container">

        <!-- <div class="mb20">
            <input mydatepicker type="text" ng-model="operationCreateModel.dateOperation" class="form-control mb10 wid170 ftl mr10" placeholder="Date de l'opération"> 
        
            TODO 
        
            Ajouter une case à cocher pour faire apparaitre ou non l'input de la date prélèvement
        
            <input mydatepicker type="text" ng-model="operationCreateModel.datePrelevement" class="form-control mb10 wid170 ftl mr10" placeholder="Date du prélèvement"> 
            <input type="text" ng-model="operationCreateModel.description" class="form-control mb10 wid200 ftl mr10" placeholder="Description">
            <input type="text" ng-model="operationCreateModel.thirdParty" class="form-control mb10 wid150 ftl mr10" placeholder="Tiers">
        
            <div class="input-group mb10 wid150 ftl mr10">
                <select class="form-control " id="inputNewCategorySubCategory" ng-model="operationCreateModel.category" ng-options="categorie as categorie.name for categorie in categories">
                    <option value="" disabled selected>Categorie</option>
                </select>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false" data-toggle="modal" data-backdrop="static" data-target="#modalManageCategories"><span class="glyphicon glyphicon-wrench"></span></button>
                </div>
            </div>
            
            <input type="text" ng-model="operationCreateModel.value" class="form-control mb10 wid100 ftl mr10" placeholder="Montant">
            <input type="text" ng-model="operationCreateModel.type" class="form-control mb10 wid100 ftl mr10" placeholder="Type">
            <button ng-click="addOperation()" class="btn btn-default">Ajouter</button>
        </div> -->


        <!-- TODO -- Rajouter le SOLDE différé -->
        <div ng-if="operations.length > 0" class="mb20">
            <strong>Solde : </strong>

            <span ng-if="solde <= 0" class="colorRed">
                {{ solde }}€
            </span>
            <span ng-if="solde > 0" class="colorGreen">
                +{{ solde }}€
            </span>

        </div>

        <!-- <table ng-if="operations.length > 0" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="algcenter">Date</th>
                    <th class="algcenter">Valeur</th>
                    <th class="algcenter">Operation</th>
                    <th class="algcenter">Tiers</th>
                    <th class="algcenter">Type</th>
                    <th class="algcenter">Débit</th>
                    <th class="algcenter">Crédit</th>
                    <th class="algcenter">Validé</th>
                    <th class="algcenter">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="op in operations">
                    <td class="wid150">
                        <span ng-hide="op.editable">{{ op.dateOperation | date2:'dd/MM/yyyy' }}</span>
                        <input ng-hide="!op.editable" mydatepicker type="text" class="form-control" ng-model="op.dateOperation">
                    </td>
                    <td>
                        <span ng-hide="op.editable">{{ op.datePrelevement | date2:'dd/MM/yyyy' }}</span>
                        <input ng-hide="!op.editable" mydatepicker type="text" class="form-control" ng-model="op.datePrelevement">
                    </td>
                    <td>
                        <span ng-hide="op.editable">{{ op.description }}</span>
                        <input ng-hide="!op.editable" type="text" class="form-control" ng-model="op.description">
                    </td>
                    <td>
                        <span ng-hide="op.editable">{{ op.thirdParty }}</span>
                        <input ng-hide="!op.editable" type="text" class="form-control" ng-model="op.thirdParty">
                    </td>
                    <td>
                        <span ng-hide="op.editable">{{ op.type }}</span>
                        <input ng-hide="!op.editable" type="text" class="form-control" ng-model="op.type">
                    </td>
                    <td>
                        <span ng-hide="op.editable" ng-if="op.value <= 0" class="colorRed">
                            {{ op.value }}
                        </span>
                    </td>
                    <td>
                        <span ng-hide="op.editable" ng-if="op.value > 0" class="colorGreen">
                            +{{ op.value }}
                        </span>
                        <input ng-hide="!op.editable" type="number" class="form-control" ng-model="op.value">
                    </td>
                    <td class="algcenter wid50">
                        <input ng-click="validateOperation(op)" type="checkbox" ng-model="op.checked">
                    </td>
                    <td class="algcenter minwid100">
                        <button ng-hide="!op.editable" ng-click="updateOperation(op)" class="doUpdateOperation btn btn-primary btn-xs">
                            Save
                        </button>
                        <button ng-hide="op.editable" ng-click="showUpdateOperation(op)" class="showUpdateOperation btn btn-warning btn-xs">
                            Edit
                        </button>
                        <button ng-click="deleteOperation(op._id, $index)" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table> -->

        <div class="operationLine" ng-repeat="op in operations"> 
            <div class="wid20p ftl">
                <span ng-hide="op.editable">{{ op.dateOperation | date2:'dd/MM/yyyy' }}</span>
                <span class="datePrelevement" ng-hide="op.editable">({{ op.datePrelevement | date2:'dd/MM/yyyy' }})</span>
            </div>
            <div class="wid20p ftl">
                <span ng-hide="op.editable">Shopping</span>
            </div>
            <div class="wid45p ftl">
                <span ng-hide="op.editable">{{ op.description }}  –  {{ op.thirdParty }}  –  {{ op.type }}</span>
            </div>
            <div class="wid10p ftl algright">
                <span ng-hide="op.editable" ng-if="op.value <= 0" class="colorRed">
                    {{ op.value }}
                </span>
                <span ng-hide="op.editable" ng-if="op.value > 0" class="colorGreen">
                    +{{ op.value }}
                </span>
            </div>

            <div class="operationOptions">
                <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
            </div>
        </div>

        <span ng-if="operations.length <= 0">Il n'y a encore aucunes opérations sur ce compte.</span>

    </div>

    <div ng-include src="'/app/shared/category/categoryView.html'"/>

    <div btn-add-operation tooltip class="circle" data-toggle="modal" data-placement="left" title="Add operation" data-target=".modal-operation">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </div>

    
    <div id="sidebar-wrapper" class="menuCreateOperation">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                Add operation
            </li>

            <li>
                <div class="input-group">
                    <select class="form-control " id="inputNewCategorySubCategory" ng-model="operationCreateModel.category" ng-options="categorie as categorie.name for categorie in categories">
                        <option value="" disabled selected>Select a category</option>
                    </select>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false" data-toggle="modal" data-backdrop="static" data-target="#modalManageCategories"><span class="glyphicon glyphicon-wrench"></span></button>
                    </div>
                </div>
            </li>

            <li>
                <!-- <md-input-container flex="" class="md-default-theme">
                    <label for="input_03G">Value</label>
                    <input ng-model="operationCreateModel.value" class="ng-pristine ng-untouched ng-valid md-input" tabindex="0" aria-invalid="false">
                    <div class="md-placeholder"></div>
                </md-input-container> -->
                <input ng-model="operationCreateModel.value" class="form-control" placeholder="Value">
            </li>



            <li ng-if="operationCreateModel.advanced">
                <!-- <md-input-container flex="" class="md-default-theme">
                    <label for="input_03G">Operation date</label>
                    <input mydatepicker ng-model="operationCreateModel.dateOperation" class="ng-pristine ng-untouched ng-valid md-input" tabindex="0" aria-invalid="false">
                    <div class="md-placeholder"></div>
                </md-input-container> -->
                <input mydatepicker ng-model="operationCreateModel.dateOperation" class="form-control" placeholder="Operation date">
            </li>
            
            <li ng-if="operationCreateModel.advanced">
                <!-- <md-input-container flex="" class="md-default-theme">
                    <label for="input_03G">Levy date</label>
                    <input mydatepicker ng-model="operationCreateModel.datePrelevement" class="ng-pristine ng-untouched ng-valid md-input" tabindex="0" aria-invalid="false">
                    <div class="md-placeholder"></div>
                </md-input-container> -->
                <input mydatepicker ng-model="operationCreateModel.datePrelevement" class="form-control" placeholder="Levy date">
            </li>

            <li ng-if="operationCreateModel.advanced">
                <!-- <md-input-container flex="" class="md-default-theme">
                    <label for="input_03G">Description</label>
                    <input ng-model="operationCreateModel.description" class="ng-pristine ng-untouched ng-valid md-input" tabindex="0" aria-invalid="false">
                    <div class="md-placeholder"></div>
                </md-input-container> -->
                <input ng-model="operationCreateModel.description" class="form-control" placeholder="Description">
            </li>

            <li ng-if="operationCreateModel.advanced">
                <!-- <md-input-container flex="" class="md-default-theme">
                    <label for="input_03G">Third party</label>
                    <input ng-model="operationCreateModel.thirdParty" class="ng-pristine ng-untouched ng-valid md-input" tabindex="0" aria-invalid="false">
                    <div class="md-placeholder"></div>
                </md-input-container> -->
                <input ng-model="operationCreateModel.thirdParty" class="form-control" placeholder="Third party">
            </li>

            <li ng-if="operationCreateModel.advanced">
                <!-- <md-input-container flex="" class="md-default-theme">
                    <label for="input_03G">Type</label>
                    <input ng-model="operationCreateModel.type" class="ng-pristine ng-untouched ng-valid md-input" tabindex="0" aria-invalid="false">
                    <div class="md-placeholder"></div>
                </md-input-container> -->
                <input ng-model="operationCreateModel.type" class="form-control" placeholder="Type">
            </li>

            <li>
                <button ng-click="addOperation()" class="btn btn-primary">Add</button>
                <button ng-if="!operationCreateModel.advanced" ng-click="createOperationAdvanced()" class="btn btn-default">Advanced</button>
                <button close-menu-create-operation class="btn btn-default">Close</button>
            </li>
        </ul>
    </div>

</div>