<div class="blocOperation pt70">

    <div class="container">
        <div ng-show="ventilateOperation === null">
            <div class="row">
                <h1 class="ml10">
                    <strong>Balance : </strong>
                    <span ng-if="balance <= 0" class="colorRed">
                        {{ balance }}€
                    </span>
                    <span ng-if="balance > 0" class="colorGreen">
                        +{{ balance }}€
                    </span>
                </h1>
                <h3 class="ml10">
                    <strong>Deferred balance : </strong>
                    <span ng-if="deferredBalance <= 0" class="colorRed">
                        {{ deferredBalance }}€
                    </span>
                    <span ng-if="deferredBalance > 0" class="colorGreen">
                        +{{ deferredBalance }}€
                    </span>
                </h3>
                <div class="dropdown pull-right mr10">
                    <button class="btn btn-primary  btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation">
                            <a href="/api/account/{{accountId}}/pdf" target="_blank">Export PDF</a>
                        </li>
                        <li role="presentation">
                            <a download="operations.csv" ng-href="{{ urlCsv }}">Export CSV</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="clear"></div>

            <div class="mt10">
                <div ng-if="account.operations.length <= 0 && groupOfOperations.length <= 0" class="text-center">
                    There is no operation on this account yet. <a href="" btn-add-operation>Let's create the first one</a> or <a ui-sref="accountSettings({accountId : account._id})" >import multiple operations via a CSV file</a> !
                </div>
                <div ng-show="account.operations.length > 0" class="row">
                    <div class="col-md-4 col-xs-12 mt10">
                        <select class="form-control " ng-change="groupOperation()" ng-model="groupedBy">
                            <option value="">Not grouped</option>
                            <option value="date">Grouped by Date</option>
                            <option value="category">Grouped by Category</option>
                            <option value="type">Grouped by Type</option>
                            <option value="thirdParty">Grouped by Third Party</option>
                        </select>
                    </div>

                    <div class="col-md-4 col-xs-12 mt10">
                      <input ng-show="account.operations.length > 0 && groupOfOperations.length <= 0" ng-model="searchText" class="form-control" placeholder="Search">
                  </div>

                  <div class="col-md-4 col-xs-12 mt10">
                      <select ng-show="account.operations.length > 0 && groupOfOperations.length <= 0" ng-model="orderProp" class="form-control" ng-change="test()">
                          <option value="value">Order by Price (ascending)</option>
                          <option value="-value">Order by Price (descending)</option>
                          <option value="dateOperation">Order by Date (ascending)</option>
                          <option value="-dateOperation">Order by Date (descending)</option>
                          <option value="categoryName">Order by Category (ascending)</option>
                          <option value="-categoryName">Order by Category (descending)</option>
                          <option value="type">Order by Type (ascending)</option>
                          <option value="-type">Order by Type (descending)</option>
                      </select>
                  </div>
              </div>

              <div class="clear"></div>

              <label ng-if="groupOfOperations.length > 0" class="mt20">Operations grouped by {{ groupedBy }}</label>
              <div ng-repeat="op in groupOfOperations">
                <div ng-click="toggleOperationsOfGroup($index, op.showOps)" class="operationGroupOfLine operationLine pointer backWhite pad15">

                    <!-- Plus grand qu'un Mobile -->
                    <div class="hidden-xs">
                        <div class="wid40p ftl">
                            <span ng-show="groupedBy !== 'date'">Grouped by {{ groupedBy }} : '{{ op.groupedByField }}'</span>
                            <span ng-show="groupedBy === 'date'">Grouped by {{ groupedBy }} : '{{ op.groupedByField | date:'dd-MM-yyyy' }}'</span>
                        </div>

                        <div class="wid50p ftl">
                            <span>{{ op.subOperations.length }} operation(s) was/were grouped</span>
                        </div>

                        <div class="wid10p ftl algright">
                            <span ng-if="op.value <= 0" class="colorRed">
                                {{ op.value }}
                            </span>
                            <span ng-if="op.value > 0" class="colorGreen">
                                +{{ op.value }}
                            </span>
                        </div>
                    </div>

                    <!-- Taille d'un Mobile -->
                    <div class="visible-xs-block">
                        <div class="wid70p ftl">
                            <span>'{{ op.groupedByField }}'</span>
                        </div>

                        <div class="wid30p ftl algright">
                            <span ng-if="op.value <= 0" class="colorRed">
                                {{ op.value }}
                            </span>
                            <span ng-if="op.value > 0" class="colorGreen">
                                +{{ op.value }}
                            </span>
                        </div>
                    </div>
                </div>

                <div ng-if="op.showOps">
                    <div class="operationLine operationLineOfGroup" ng-repeat="op in operationsOfGroup">
                        <div click-operation ng-include="'/app/components/operation/operationLineTemplate.html'"></div>
                    </div>
                </div>

            </div>


            <div ng-if="account.operations.length > 0 && groupOfOperations.length <= 0">
                <div ng-if="countOfOperationsAfterToday > 0">
                    <label class="mt20">
                        Deferred operations <span class="badge">{{countOfOperationsAfterToday}}</span>
                        <small class="pull-right ml5">
                            <a href="" ng-if="!showDeferredOps" ng-click="toggleDeferredOps()"> Show more</a>
                            <a href="" ng-if="showDeferredOps" ng-click="toggleDeferredOps()"> Show less</a>
                        </small>
                    </label>
                    <div ng-if="showDeferredOps">
                        <div ng-include="'/app/components/operation/operationDescriptionTemplate.html'"></div>
                        <div ng-if="op.datePrelevementIsAfterToday" class="operationLine backWhite" ng-repeat="op in account.operations | filter:searchText | orderBy:orderProp"> 
                            <div click-operation ng-include="'/app/components/operation/operationLineTemplate.html'"></div>
                        </div>
                    </div>
                </div>

                <div ng-if="countOfOperationsNotAfterToday > 0" class="mt20">
                    <label>Operations</label>
                    <div ng-include="'/app/components/operation/operationDescriptionTemplate.html'"></div>
                    <div ng-if="!op.datePrelevementIsAfterToday" class="operationLine backWhite" ng-repeat="op in account.operations | filter:searchText | orderBy:orderProp">
                        <div click-operation ng-include="'/app/components/operation/operationLineTemplate.html'"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div ng-show="ventilateOperation !== null">
        <div class="fs20">
            <strong>Balance to assign: </strong>
            <span ng-if="balanceToAssign <= 0" class="colorRed">
                {{ balanceToAssign }}€
            </span>
            <span ng-if="balanceToAssign > 0" class="colorGreen">
                +{{ balanceToAssign }}€
            </span>
        </div>

        <form name="formSubOperation">
            <div class="col-md-5 col-xs-12 mt10">
                <!-- <input ng-model="subOperationModel.description" type="text" class="form-control" placeholder="Description" required> -->
                <div class="form-group" ng-class="{ 'has-error' : formSubOperation.description.$invalid && !formSubOperation.description.$pristine}">
                    <input type="text" name="description" ng-model="subOperationModel.description" class="form-control" placeholder="Description" required>
                    <span class="error help-block" ng-show="formSubOperation.description.$error.required  && !formSubOperation.description.$pristine">
                        Description is required
                    </span>
                </div>
            </div>

            <div class="col-md-5 col-xs-12 mt10">
                <!-- <input ng-model="subOperationModel.value" type="number" class="form-control" placeholder="Value" required> -->
                <div class="form-group" ng-class="{ 'has-error' : formSubOperation.value.$invalid && !formSubOperation.value.$pristine}">
                    <input type="number" name="value" ng-model="subOperationModel.value" class="form-control" placeholder="Value" required>
                    <span class="error help-block" ng-show="formSubOperation.value.$error.required  && !formSubOperation.value.$pristine">
                        Value is required</span>
                        <span class="error help-block" ng-show="formSubOperation.value.$error.number">
                            Not valid number</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-xs-12 mt10">
                        <button ng-disabled="formSubOperation.$invalid" ng-click="addSubOperation()" class="btn btn-default">Add suboperation</button>
                    </div>
                </form>

                <div class="clear mb20"></div>

                <div ng-repeat="op in ventilateOperation.subOperations" class="ventilationLine backWhite pad15">
                    <div class="wid70p">
                        {{ op.description }}
                    </div>

                    <div class="wid30p algright ventilationRightZone">
                        <span ng-if="op.value <= 0" class="colorRed">
                            {{ op.value }}
                        </span>
                        <span ng-if="op.value > 0" class="colorGreen">
                            +{{ op.value }}
                        </span>
                        <button ng-click="deleteSubOperation(op, $index)" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>

                <button ng-click="hideVentilation()" class="btn btn-default mt10">Back</button>
                <button ng-disabled="balanceToAssign !== 0" ng-click="saveVentilation()" class="btn btn-primary mt10">Save the ventilation</button> <br>
                <div class="mt10">You must assign the entire balance to validate ventilation.</div>
            </div>
        </div> <!-- END container -->

        <div ng-include src="'/app/shared/category/categoryView.html'"></div>
        <div btn-add-operation tooltip class="circle" data-toggle="modal" data-placement="left" title="Add operation" data-target=".modal-operation">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </div>
    </div> <!-- END container -->

    <div ng-include src="'/app/shared/category/categoryView.html'"></div>
    
    <div ng-include src="'/app/components/operation/operationAddSidebarRightTemplate.html'"></div>
  </div> <!-- END blocOperation -->
