<div class="">  
    <!-- <form ng-show="op.editable" class="wid100p operationLineEditable">
        <input mydatepicker type="text" class="form-control wid100 ftl mr10" ng-model="op.dateOperation">
        <input mydatepicker type="text" class="form-control wid100 ftl mr10" ng-model="op.datePrelevement">
    
        <div class="input-group wid200 ftl mr10">
            <select class="form-control " id="inputNewCategorySubCategory" ng-model="op.category" ng-options="categorie.name for categorie in categories track by categorie.id">
                <option value="">No category</option>
            </select>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false" data-toggle="modal" data-backdrop="static" data-target="#modalManageCategories"><span class="glyphicon glyphicon-wrench"></span></button>
            </div>
        </div>
    
        <input type="text" class="form-control wid100 ftl mr10" ng-model="op.description">
        <input type="text" class="form-control wid100 ftl mr10" ng-model="op.thirdParty">
        <input type="text" class="form-control wid100 ftl mr10" ng-model="op.type">
    
        TODO: Il faut afficher l'input en rouge s'il y a une erreur, ça ne marche pas
    
        <div class="form-group" ng-class="{ 'has-error' : op.value.$invalid }">
            <input type="number" class="form-control wid100 ftl mr10" ng-model="op.value" placeholder="Value" required>
        </div>
    </form> -->

    <div ng-show="!op.editable" class="wid100p firstLineOperation">

        <!-- Plus grand qu'un Mobile -->
        <div ng-show="!op.editable" class="hidden-xs">
            <div class="wid35p ftl">
                <span title="The operation date is after today" ng-if="op.dateOperationIsAfterToday" class="label label-warning pointer">!</span>
                <span ng-hide="op.editable">{{ op.dateOperation | date:'dd-MM-yyyy'}}</span>
                <span title="The levy date is after today" ng-if="op.datePrelevementIsAfterToday && op.datePrelevement !== op.dateOperation" class="label label-warning pointer">!</span>
                <span ng-if="op.datePrelevement !== op.dateOperation" class="datePrelevement">({{ op.datePrelevement | date:'dd-MM-yyyy'}})</span>
            </div>

            <div class="wid35p ftl">
                <span class="label label-default">{{ op.categoryName }}</span>
            </div>

            <div class="wid30p ftl algright">
                <span ng-if="op.value <= 0" class="valueSpan colorRed ftl wid100p">
                    {{ op.value }}
                </span>
                <span ng-if="op.value > 0" class="valueSpan colorGreen ftl wid100p">
                    +{{ op.value }}
                </span>
            </div>
        </div>

        <!-- Taille d'un mobile Mobile -->
        <div ng-show="!op.editable" class="visible-xs-block">
            <div class="wid70p ftl">
                <span title="The operation date is after today" ng-if="op.dateOperationIsAfterToday" class="label label-warning pointer">!</span>
                <span ng-hide="op.editable">{{ op.dateOperation | date:'dd-MM-yyyy'}}</span>
                <span title="The levy date is after today" ng-if="op.datePrelevementIsAfterToday && op.datePrelevement !== op.dateOperation" class="label label-warning pointer">!</span>
                <span ng-if="op.datePrelevement !== op.dateOperation" class="datePrelevement">({{ op.datePrelevement | date:'dd-MM-yyyy'}})</span>
            </div>

            <div class="wid30p ftl algright">
                <span ng-if="op.value <= 0" class="valueSpan colorRed ftl wid100p">
                    {{ op.value }}
                </span>
                <span ng-if="op.value > 0" class="valueSpan colorGreen ftl wid100p">
                    +{{ op.value }}
                </span>
            </div>
        </div>
    </div>

    <div ng-show="!op.editable" ng-repeat="subOperation in op.subOperations" class="otherLineOperation pad15">
        <div class="wid70p">
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            Suboperation: {{ subOperation.description }}
        </div>

        <div class="wid30p algright ventilationRightZone">
            <span ng-if="subOperation.value <= 0" class="colorRed">
                {{ subOperation.value }}
            </span>
            <span ng-if="subOperation.value > 0" class="colorGreen">
                +{{ subOperation.value }}
            </span>
        </div>
    </div>

    <div ng-show="op.editable" class="wid100p pt10 otherLineOperation pl15 pr15">
        <label>Operation date and Levy date:</label>
        <input mydatepicker type="text" class="form-control wid200" ng-model="op.dateOperation">
        <input mydatepicker type="text" class="form-control wid200 mt10" ng-model="op.datePrelevement">
    </div>

    <div ng-show="!op.editable" class="wid100p pt10 otherLineOperation pl15 pr15">
        <!-- On ne peut pas mettre cette classe sur la div superieur car sinon cela fait reapparaitre l'element -->
        <div class="visible-xs-block">
            <label>Category:</label>
            <span class="label label-default">{{ op.categoryName }}</span>
        </div>
    </div>
    
    <div ng-show="op.editable" class="wid100p pt10 otherLineOperation pl15 pr15">
        <label>Category:</label>
        <!-- <div class="input-group"> -->
            <select class="form-control" id="inputNewCategorySubCategory" ng-model="op.category" ng-options="categorie.name for categorie in categoriesSelect track by categorie.id">
                <option value="">No category</option>
            </select>
<!--             <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" aria-expanded="false" data-toggle="modal" data-backdrop="static" data-target="#modalManageCategories"><span class="glyphicon glyphicon-wrench"></span></button>
            </div> -->
        <!-- </div> -->
    </div>

    <div ng-show="op.editable" class="wid100p pt10 otherLineOperation pl15 pr15">
        <label>Value:</label>
        <input type="number" class="form-control" ng-model="op.value" placeholder="Value" required>
    </div>

    <div class="wid100p pt10 otherLineOperation pl15 pr15">
        <label>Description:</label>
        <span ng-show="!op.editable">{{ op.description }}</span>
        <input ng-show="op.editable" type="text" class="form-control" ng-model="op.description">
    </div>

    <div class="wid100p pt10 otherLineOperation pl15 pr15">
        <label>Third party:</label>
        <span ng-show="!op.editable">{{ op.thirdParty }}</span>
        <input ng-show="op.editable" type="text" class="form-control" ng-model="op.thirdParty">
    </div>

    <div class="wid100p pt10 otherLineOperation pl15 pr15">
        <label>Type:</label>
        <span ng-show="!op.editable">{{ op.type }}</span>
        <!-- <input ng-show="op.editable" type="text" class="form-control" ng-model="op.type"> -->
        <select ng-show="op.editable" class="form-control" ng-model="op.type">
            <option value="" selected disabled>Select a type</option>
            <option value="credit card">Credit card</option>
            <option value="transfer">Transfer</option>
            <option value="check">Check</option>
            <option value="cash">Cash</option>
            <option value="other type">Other type</option>
        </select>
    </div>

    <div class="wid100p pt10 otherLineOperation pl15 pb15">
        <label>Validated:</label>
        <input ng-click="validateOperation(op)" type="checkbox" ng-model="op.checked">

        <div class="operationsButtons">
            <button ng-hide="op.editable" ng-click="showVentilation(op)" class="btn btn-default btn-xs">
                Ventilate
            </button>
            <button ng-hide="!op.editable" ng-click="closeUpdateOperation(op)" class="btn btn-default btn-xs">
                Cancel
            </button>
            <button ng-hide="!op.editable" ng-click="updateOperation(op)" class="doUpdateOperation btn btn-primary btn-xs">
                Save
            </button>
            <button ng-hide="op.editable" ng-click="showUpdateOperation(op)" class="showUpdateOperation btn btn-warning btn-xs">
                Edit
            </button>
            <button ng-hide="op.editable" ng-click="deleteOperation(op, $index)" class="btn btn-danger btn-xs">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
    </div>

    <!-- <div class="operationButtons">
        <button ng-hide="!op.editable" ng-click="updateOperation(op)" class="doUpdateOperation btn btn-primary btn-xs">
            Save
        </button>
        <button ng-hide="op.editable" ng-click="showUpdateOperation(op)" class="showUpdateOperation btn btn-warning btn-xs">
            Edit
        </button>
        <button ng-hide="op.editable" ng-click="deleteOperation(op._id, $index)" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <button class="btn btn-default btn-xs">
            <input ng-click="validateOperation(op)" type="checkbox" ng-model="op.checked">
        </button>
    </div> -->
</div>
