<div class="container auth">
    <div id="big-form" class="well auth-box">
      <form>
        <fieldset>

          <!-- Form Name -->
          <legend>Add New Account</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class=" control-label" for="textinput">Account Name</label>  
            <div class="">
              <input id="textinput" name="textinput" placeholder="name" class="form-control input-md" type="text"> 
            </div>
          </div>


          <!-- Select Basic -->
          <div class="form-group">
            <label class=" control-label" for="selectbasic">Type</label>
            <div class="">
              <select id="selectbasic" name="selectbasic" class="form-control">
                <option value="1">Type 1</option>
                <option value="2">Type 2</option>
              </select>
            </div>
          </div>

    
           <div class="form-group">
            <label class=" control-label" for="textinput">Account Balance</label>  
            <div class="">
              <input id="textinput" name="textinput" placeholder="Account Balance" class="form-control input-md" type="text"> 
            </div>
          </div>

         <div class="form-group">
            <label class=" control-label" for="selectbasic">Currency</label>
            <div class="">
              <select id="selectbasic" name="selectbasic" class="form-control">
                <option value="1">EUR($)</option>
                <option value="2">USD(€)</option>
              </select>
            </div>
          </div>
        
          <div class="form-group">
            <div class="">
              <button id="button" name="button" class="btn btn-danger">add Account </button>
            </div>
          </div> 
       

        </fieldset>
      </form>
    </div>
    <div class="clearfix"></div>
  </div>

