<div class="container mt70 text-center">

  <div class="">
    <div class="jumbotron">
      <img src="assets/img/logo.png" class="" width="250">
      <h1>MONEY IS DEAD, LONG LlVE <strong>MYMONEY</strong></h1>
      <p>MyMoney is a personal finance management website, it allows you to consolidate all your accounts in one place to manage and organize your personal finances with ease, including the planning of your payments and managing your budget.</p>
    </div>

    <div class="row pad15">
      <h1 class="page-header">FEATURES</h1>
      <div class="col-md-6 col-xs-6">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Your money</h2>
        <p>Each time you spend or make some money, add it to MyMoney website. The more you add information, the more MyMoney will be usefull and help you understand how you spend your money.</p>
      </div>
      <div class="col-md-6 col-xs-6">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Budget</h2>
        <p>You want to save know how many money you kept this mounth to go to the restaurant today. We can help you. Let us know how much you want to spend and we will tell you if it's possible.</p>
      </div>
    </div>

    <div class="row pad15">
      <div class="col-md-6 col-xs-6">
        <img class="img-circle" src="/assets/img/offline.png" width="140" height="140">
        <h2>Works even offline</h2>
        <p>You go in a foreign country and want to keep your accounts up-to-date ? Don't worry about it. Basic features of MyMoney are still available while you are offline and will automatically be syncing when the network come back. </p>
      </div>
      <div class="col-md-6 col-xs-6">
        <img class="img-circle" src="/assets/img/free.jpg" width="140" height="140">
        <h2>Free to use</h2>
        <p>MyMoney wants to help you to save your money. We think a lot and find right that using this webapp must be free for you and for every body.</p>
      </div>
    </div>

    <div class="row pad15">
      <h1 class="page-header">THE TEAM</h1>
      <p>Some students from Bordeaux University have joined their forces for two months to give a second breath to Money ... They worked hard to give life of this website and now you can enjoy it for free. It's time for you to enjoy it !</p>
      
      <div>
        <div class="col-md-4 col-xs-6" ng-repeat="author in team">
          <img ng-src="{{author.picture}}" alt="..." class="img-circle" height="100" width="100">
          <p><strong>{{author.name}}</strong></p>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer mb20">
    <div class="container">
      <p class="text-muted">The website is in beta, you should'nt use it to manage your real money. But you can help us with our code <a href="https://github.com/JordanAupetit/PED_Money/">here</a>.</p>
    </div>
  </footer>
</div>
